<div class="container">
    <div class="form-container">
        <div class="form">
            <mat-form-field appearance="outline">
                <mat-label>Enter Email</mat-label>
                <input [(ngModel)]="email" matInput>
                <mat-icon matPrefix>alternate_email</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter Password</mat-label>
                <input [(ngModel)]="password" matInput type="password">
                <mat-icon matSuffix>visibility</mat-icon>
            </mat-form-field>
        </div>
        <button mat-raised-button style="width: 100%;" color="primary" (click)="login()">Login</button>
    </div>
</div>